body{
  overflow: hidden;
}

.top-panel {
  height: 50vh;
  display: flex;
  width: 100%;
  overflow-x: hidden;
  background-color: hsl(225, 6%, 25%);
  padding-top: 12px;
  padding-bottom: 12px;
}

.CodeMirror {
  height: 100% !important;
}

.code-mirror-wrapper {
  flex-grow: 1;
  border-bottom-right-radius: 0.5rem;
  border-bottom-left-radius: 0.5rem;
  overflow: hidden;
}
.editor {
  flex-grow: 1;
  flex-basis: 0;
  height: 100%;
  display: flex;
  flex-direction: column;
  margin-left: 8px;
  margin-right: 8px;
}

.collapsed {
  flex-grow: 0;
  height: 100%;
  display: flex;
  flex-direction: column;
  margin-left: 8px;
  margin-right: 8px;
}
.collapsed .CodeMirror-scroll {
  position: absolute;
  overflow: hidden !important;
}

.block-title {
  display: flex;
  justify-content: space-between;
  background-color: hsl(225, 6%, 13%);
  color: white;
  padding: 0.5rem 0.5rem 0rem 1rem;
  border-top-right-radius: 0.5rem;
  border-top-left-radius: 0.5rem;
}

.expand-collapse-btn {
  margin:0;
  background: none;
  border: none;
  padding: -10;
  color: white;
  cursor: pointer;
}
svg{
  padding: 0;
  margin-top: 2px;
  margin-left: 5px;
}
.output {
  height: 50vh;
  display: flex;
}

